language: go
sudo: false
go:
- 1.9
branches:
  only:
  - master
  - hotfix
  - release
  - develop
  - /feature-*/
env:
  global:
  - USERNAME=reaandrew
  - VERSION=0.1.0
  - AWS_DEFAULT_REGION="eu-west-1"
  - secure: gsEmJsKaRIZs4i+lMuC5HVZ3JRAbhYZeNHxdRR+JvsD8upUGXLwLq7DCF9uQALfhEwf7bNEF4i6NMeH8fkCbqjTYzklg2B9Zp9/AJEEorUSFkupVeCUBVvw8VE2LqgITZ2V4VvbAbLF9ef3sI1YFtV+Dd4Cqe5KWM4yFTxrLl9dvwe2dAT2C40w7dBOBHMo8vVO+Gck4psNfw2i+j9ibiZsYOFQijVIFiqDZ/+Ux8aE9kMQwnfnmv/1xEaINDTaBgzRk0g6xjDhEQKGU4NCa8UEEo5T6fKzFRa0Yo6IR3fza7NaXXckHdo0/3187aR5cIOau1xnWKNw9w2HTwAtdrLlAXB1cVeKaGpPPXjZBdSOKg1M8hW+Fdc02ckRpEdMyDhSY4F4KiYV68FnjQQJiexFAcSd+rnmbeYefC0uL5kTgu9jbn8wk5OKb/fXvFrAHGudCvyssrdCnxhmtgIwuiDG/5sNhuvjsdzqNqLVH3YOTYMSi9JS5NeyxVT1u0D93kNlsZz4B+Yc4w2ymPq4Mnz/DLhg9fdfzMNzwp3KdPRFrUTc9RIPm3jwBI3Gy3OewQXVGesV7+ria5f89fsBXV7ZoBXxVnGGZvVde2UqvaL32JjP0z1EqTIzJ6CnNIKCgnV/rSl9jqCmooPhkLurMeLUduvNwj94r9vADYZZ98Cw=
  - secure: VQxTsOaHrBRynONiKwgd960L1HxBd7LeYkoAFgVFLAKgHuq5SNF7oLa05kewxQYd7WjetVIXQtT+u4Xjf9fMIAh+40K1x5Zb7L3QexPvyvyyXfpoimCjDMj7XLe0K3skM0dnAvo8pmFDWmvVB1dZg5h2SpgPJ0nJuwRnMIo7qcLymzMAez2Heys1yaEHsprq2gG7Md2E7mQIYQz+SsfR/nGevAaGCJuwmXWAs6gXWvSHG+xbQqhKA+J9wuVoR/BTiHLUSPXMY0KczpkB5zL5d+EouDxy2Nxb1m3na98/sIRkryW10+MbQzPJTWf6VDv87k2+ZwCzRzC7879/NasbydSnTIbU7wubGswRRTMgZzh4JBpoEI0ifpsFSub+PgaJTVT2y/xNOcJA7MTPFKxEnLFfYHeo6FXyhnRz21x1WID6Jy2ENrdr8prFCf01L4nr7bgoN2MmJOYJAvaZor63pxplDfEkPT/87g6ZqXIPF4bvYr5lDwl7QBJMm4FApSb5iX3tyM29mZAA+Va9jruZmDMKvYNFBjFL7Fa71M4fxxEyB7g2221J/r2XBCd+t2O7h2aY+RyLsiRDyDMTGLYA4VFxVKRk3vuwxvqskMQKdYj1pynh+YB+8ELBh0FZODEvOSg/HA1m5zwswRxfBAfz/ZfT59K9kmenrTveGrqQJBE=
  - secure: qIu4LytkqGZEbdmLibz/ea+xoD9p2GdKG2pvfIR1TW6IEIS2XxzP4oMzW/2H0aJGNJ/Nc/OkON2FAEU97a0nhoqU7b0Wsljqzlfd6+35qqfH/SygiTolmUzuM0EIzTzzWmMCyNRDWMpr32Fqupv/x6KRf/tJ/2WfofI27DYMS5LFQh7XP2oGKTdOxplaoeo4RrOOG9v2hy7ZtxUhCWvERbjHykQWYibfX5Ed2/9ZBBukXsfv9/Snt+oS4+nHX+3weyQk8Uvu+EQ4+bW5/OiNDLtbLNRajrLN6BzWQ7cWj8uPktax5WHoAJbZZPdOKyoz0/6xFVZP458ocqGOoRqB7rGPibc6SYxceO/M0rq5F5TTW4soN2hXvsJun0bmw2nbmHMoe4A7DwNspZC8rcz6ElG7UMATSW9e8Cn09W8eYYf1O3otAwmxFVj0EbL6ZTXhI9Pv8ZBU5NopeH2+4FWYjhDKdMljZxDdwgCFE6y4wKHQKYWUUQsALZp1/Hsp1qg+FWMqQLLYE0P6+9om07jHa01fpC0JykFaw0wFt/sGHYV2pDmUcu6UDibsSaxPq7bbtZzUyLG/ynGyy8HXZtjGkLjYojzcYhlSbJ9IANfZ43t/9C4OJxa9oEiFm34gzWMr9y4pIYNXcQJtZxZmLumF/UnvFJ5qJk5AZBPYupu0QM8=
before_install:
- openssl aes-256-cbc -K $encrypted_271c4973ffbe_key -iv $encrypted_271c4973ffbe_iv -in fubar.enc -out /tmp/fubar -d
- chmod 600 /tmp/fubar
- go get -u github.com/tcnksm/ghr
- curl -o /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.10.2/terraform_0.10.2_linux_amd64.zip
- unzip -d /tmp /tmp/terraform.zip
- mkdir dist
script:
- go build -o dist/fubar
after_success:
- ghr -username ${USERNAME} -token ${GITHUB_TOKEN} --delete ${VERSION} dist/
- eval `ssh-agent`
- ssh-add /tmp/fubar
- /tmp/terraform init
- /tmp/terraform apply -var 'key_name=terraform' -var 'public_key_path=fubar.pub'
