language: go
sudo: false
go:
- 1.9
- tip
env:
  matrix:
  - USERNAME=reaandrew
  - VERSION=0.1.0
  - secure: pHGD1UbmMCk4WaJxJ8iH7NqfoaCUCz7y0BOTvWQPu4TNsAF0um+yidCzYGuyiSGZBoFazuixM1VqCejAEH20gnrNWZzFjJZSkorlE1NDwX8heDac5f3goUarXtnmrp7V9OEpB5AwyRE+vj5mqDmOtwWdRS0G+81momuA+c0PFq4pYoVdun1MQHM6kBJ3y4SmhBK/VRS9dhCoKNAC/8O2fn6Qbo1ET70Y2iiAzqmjCfkpj6Vf8lAdPYTU4LRNJL8FWWaGqEH9ITuW8X3N5Ed0weJero7dS0+lNQu+LWxNU4Sr+H44KNW4nXPCkLSLm5E57Sf9QVtdbz4lZrP1r4SpFdRP23vBJ7TwXURgeBJuEYxcQD508h5P89OqZWxZyt/0KUec9XOW2TKettYFlnuDL2Quw5B8s2qKUYzRYnJcNIsyy2+x78oYVWyt0zBAvOaSI9qxNvZipkUheq3eqCbnpoXrnXQIRUDHub2PIgxPsv43fHH7g2eaq+AZDittd9uaXq7IJ5x/kcSiU/+7SKkKbWfVq/WQCUtAmQKd9fxhKyK+0t7pfnAU7hngFyFiOLVrgZGLFnZtVTD8Ws8435UvRik3HzjsQqoWLtUg4xaU2Flq5lZlDw3bgm3YZmC+VvgxiMV8Qdnq5HQ1VeI7y0xIT3vCy8gxfqU0+ihRZWn5upc=
before_install:
- go get -u github.com/tcnksm/ghr
- mkdir dist
script:
- go build -o dist/fubar
after_success:
- ghr -username ${USERNAME} -token ${GITHUB_TOKEN} --delete ${VERSION} dist/
